<h2>Product List</h2>
<div class=".product-list-container">
<app-search-filter (search)="onSearch($event)"></app-search-filter>
<ul>
    <li *ngFor="let product of filteredProducts">
        {{ product.name }}
     <div class="button-group" >  
        <button (click)="viewProduct(product.id)">View</button>
        <button (click)="editProduct(product.id)">Edit</button>
        <button (click)="deleteProduct(product.id)">Delete</button>
     </div>   
    </li>
</ul>
<button routerLink="/inventory/add-product">Add Product</button>
</div>